
*{
    background-image: linear-gradient(pink, antiquewhite);
}
.title {
    color: blueviolet;
    font-family: impact , "Lucida Sans", Georgia;
    font:bold;
    font-size: 32px;
    text-align: center;
    text-decoration: underline;
}

.subtitle {
    font-family: "Lucida Sans", Georgia;
    font:bold;
    text-align: center;
    color: purple;
    text-decoration: underline;
}

.img {
    text-align: center;
    height: 400px;
    width: auto;
}

.links .b {
    color:black;
    font-size: 35px;
    font-family: 'Franklin Gothic Medium', Arial, sans-serif;
    height: 100px;
    width:auto
}

.links {
    display: block;
    margin: center;
}



