
body{
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(pink, antiquewhite);
    background-attachment: fixed;
}

.title {
    color: rgb(83, 4, 158);
    font-family: impact , "Lucida Sans", Georgia;
    font:bold;
    font-size: 32px;
    text-align: center;
    text-decoration: underline;
}

.subtitle {
    font-family: "Lucida Sans", Georgia;
    font:bold;
    text-align: center;
    color: purple;
    text-decoration: underline;
}

.img {
    text-align: center;
    height: 400px;
    width: auto;
}

.links .b {
    font-size: 35px;
    font-family:'Times New Roman', Times, serif;
    height: 120px;
    width:15cm;
    margin: 10px;
    background-color: rgb(255,241,202);
    border-radius: 50px;
}

.links {
    display: block;
    margin: 2cm;
    padding: 2em;
}



